/* GLOBAL STYLES */
.sty {
    padding-top: 5em;
    display: flex;
    justify-content: center;
  }
  
  /* DEMO-SPECIFIC STYLES */
  .typewriter h1 {
    color: #3665a6;
    font-family: monospace;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .5s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
  }

  .skill-card {
    margin-bottom: 20px;
}

.project-card {
    margin-bottom: 20px;
}

.footer {
    background-color: #343a40;
    color: #ffffff;
    padding: 40px 0;
}

.social-icons {
    font-size: 24px;
}

.social-icons a {
    color: #ffffff;
    margin-right: 20px;
    text-decoration: none;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #17a2b8;
}

img{
    height: 300px;
    width: 200px;
    margin-left: 8rem;
}